/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# ... lo que ya tienes ...

# Agrega estas líneas para mayor seguridad y limpieza:
**/google-services.json
.externalNativeBuild
.navigation/
ASV.log
